{% extends 'base.html' %}
{% load static %}

{% block title %}Announcements and updates{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

<!--main content-->
<main id="main" class="main">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="search-bar mb-3">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input class="form-control form-control-sm search" type="text" name="query" placeholder="Search latest news here" title="Enter search keyword">
            <button type="submit" class="btn btn-primary btn-sm ms-3" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->
      </div>
      <div class="col-md-6">
        <h5>Filter</h5>
        <div class="container">
          <div class="row">
              <div class="col-md-4">
                <label for="">Date : </label>
                <input class="form-control dataTables_filter" type="date" name="filterDate" >
              </div>
              <div class="col-md-4">
                <label for="">Filter by:   </label>
                <select class="form-select dataTables_filter" name="filterStatus" aria-label="Default select example" >
                    <option value=''>Show all</option>
                    <option value="Today" >Today</option>
                    <option value="This Month">This Month</option>
                    <option value="This Year">This Year</option>
                </select>
              </div>
              <div class="col-md-3 mt-4">
                <button class="btn btn-primary btn-sm" id="clearFilterBtn">Clear Filter</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="pagetitle ">
      <h1 class="my-3">Announcements</h1>
      <nav>
        <ul class="nav nav-tabs">

            <li class="nav-item mx-1" role="presentation">
              <button type="button" class="nav-link active" ><a href="{% url 'home:news' %}" >All News</a></button>
            </li>
  
            <li class="nav-item mx-1" role="presentation">
              <button type="button" class="nav-link active" ><a href="{% url 'home:general-news' %}" >General News</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:featured-news' %}" >Featured News</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:announcements' %}" >Announcements</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:my-news' %}" >My News</a></button>
            </li>
  
          </ul>
      </nav>
    </div><!-- End Page Title -->

    <div class="tab-content">
        <h3></h3>
      <section  class="section">
        <div id="newsDiv"  class="row">
          <!--news contents-->
        </div>
  
      </section>
    </div>
  </main><!-- End #main -->

{% include 'footer.html' %}



{% endblock content %}