{% extends 'base.html' %}
{% load static %}

{% block title %}My News{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

<!--main content-->
<main id="main" class="main">
  
  <!--Main page-->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="search-bar mb-3">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
              <input class="form-control form-control-sm search" type="text" name="query" placeholder="Search latest news here" title="Enter search keyword">
              <button type="submit" class="btn btn-primary btn-sm ms-3" title="Search"><i class="bi bi-search"></i></button>
            </form>
          </div><!-- End Search Bar -->
        </div>
        <div class="col-md-8">
          <h5>Filter</h5>
          <div class="container">
            <div class="row">
                <div class="col-md-3">
                  <label for="">Date : </label>
                  <input class="form-control dataTables_filter" type="date" name="filterDate" >
                </div>
                <div class="col-md-3">
                  <label for="">Category : </label>
                  <select class="form-select dataTables_filter" name="filterStatus" aria-label="Default select example" >
                      <option value=''>Show all</option>
                      <option value="General" >General</option>
                      <option value="Featured">Featured</option>
                    </select>
                </div>
                <div class="col-md-3">
                  <label for="">Filter by:   </label>
                  <select class="form-select dataTables_filter" name="filterStatus" aria-label="Default select example" >
                      <option value=''>Show all</option>
                      <option value="Today" >Today</option>
                      <option value="This Month">This Month</option>
                      <option value="This Year">This Year</option>
                  </select>
                </div>
                <div class="col-md-3 mt-4">
                  <button class="btn btn-primary btn-sm" id="clearFilterBtn">Clear Filter</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagetitle  mb-5">
      <div class="d-flex">
        <h1 class="my-3">My News</h1> <span class="mx-5 mt-3"><button data-bs-toggle="modal" data-bs-target="#newsAddModal" class="btn btn-primary btn-sm">Add News</button></span>
      </div>
      <nav>
        <ul class="nav nav-tabs">

            <li class="nav-item mx-1" role="presentation">
              <button type="button" class="nav-link active" ><a href="{% url 'home:all-news' %}" >All News</a></button>
            </li>
  
            <li class="nav-item mx-1" role="presentation">
              <button type="button" class="nav-link active" ><a href="{% url 'home:general-news' %}" >General News</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:featured-news' %}" >Featured News</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:announcements' %}" >Announcements</a></button>
            </li>
  
            <li class="nav-item mx-1">
              <button type="button" class="nav-link active" ><a href="{% url 'home:my-news' %}" >My News</a></button>
            </li>
  
          </ul>
      </nav>
    </div><!-- End Page Title -->

    <div class="tab-content">
        <h3></h3>
      <section  class="section mt-5 ">
        <div id="myNewsDiv"  class="row">
          <!--news contents-->
        </div>
  
      </section>
    </div>


  
  <!-- Modal -->
  <div class="modal fade" id="newsAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add News</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" id="addNewsForm" method='post'>
                {% csrf_token %}
                <div class="col-12">
                  <label for="newsTitle" class="form-label">News Title</label>
                  <input type="text" name="newsTitle" class="form-control" id="newsTitle">
                </div>

                <div class="select-container mx-5"> 
                    <div class="select-header"> 
                    <img id="newsImage" src="" >
                      <svg id="uploadIcon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                        <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg> 
                    </div> 
                    <input id="file" name="newsImage" type="file" required> 
                </div>

                <div class="col-12">
                  <label for="newsDescription" class="form-label">News Description</label>
                  <textarea class="form-control" name="newsDescription" placeholder="Description" id="newsDescription" style="height: 100px;"></textarea>
                </div>


                <div class="col-12">
                    <label for="newsCategory" class="form-label">Category</label>
                    <select class="form-select" name="newsCategory" id="newsCategory">
                        <option value="" >select categorys</option>
                        <option value="General" >General</option>
                        <option value="Featured" >Featured</option>
                    </select>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
        
            </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  </main><!-- End #main -->

{% include 'footer.html' %}

<script src="{% static 'assets/js/my-news.js' %}"></script>
<script src="{% static 'assets/js/news-image-upload.js' %}"></script>
<script src="{% static 'assets/js/create-news.js' %}"></script>
{% endblock content %}