{% extends 'base.html' %}
{% load static %}

{% block title %}All News{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

<!--main content-->
<main id="main" class="main">
  
  <!--Main page-->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="search-bar mb-3">
          <form class="search-form d-flex align-items-center" method="POST" action="#" id="allSearchForm">
            <input class="form-control form-control-sm search" type="text" name="allNewsSearch" placeholder="Search latest news here" title="Enter search keyword">
            <button type="submit" class="btn btn-primary btn-sm ms-3" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->
      </div>
      <div class="col-md-8">
        <h5>Filter</h5>
        <div class="container">
          <div class="row">
              <div class="col-md-3">
                <label for="">Category : </label>
                <select class="form-select dataTables_filter" name="filterCategory" id="filterCategory" aria-label="Default select example" >
                    <option value=''>---Category----</option>
                    <option value="General" >General</option>
                    <option value="Featured">Featured</option>
                    <option value='All'>Show all</option>
                  </select>
              </div>
              <div class="col-md-3">
                <label for="">Filter by:   </label>
                <select class="form-select dataTables_filter" name="filterBy" id="filterBy" aria-label="Default select example" >
                    <option value=''>Show all</option>
                    <option value="Today" >Today</option>
                    <option value="This Month">This Month</option>
                    <option value="This Year">This Year</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="">Filter by Month:   </label>
                <select class="form-select dataTables_filter" name="filterByMonth" id="filterByMonth" aria-label="Default select example" >
                  <option value="">---Month----</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="">Filter by Year:   </label>
                <select class="form-select dataTables_filter" name="filterByYear" id="filterByYear" aria-label="Default select example" >
                  <option value="">---Year----</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                </select>
              </div>
              <div class="col-md-3 mt-4">
                <button class="btn btn-primary btn-sm" id="clearFilter" type="button">Clear Filter</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="pagetitle ">
      <h1 class="my-3">All news </h1>
      <nav>
        <ul class="nav nav-tabs">

          <li class="nav-item mx-1" role="presentation">
            <button type="button" class="nav-link active"  ><a href="{% url 'home:all-news' %}" >All News</a></button>
          </li>
{% comment %} 
          <li class="nav-item mx-1" role="presentation">
            <button type="button" class="nav-link active" ><a href="{% url 'home:general-news' %}" >General News</a></button>
          </li>

          <li class="nav-item mx-1">
            <button type="button" class="nav-link active" ><a href="{% url 'home:featured-news' %}" >Featured News</a></button>
          </li> {% endcomment %}

          <li class="nav-item mx-1">
            <button type="button" class="nav-link active" ><a href="{% url 'home:announcements' %}" >Announcements</a></button>
          </li>

          <li class="nav-item mx-1">
            <button type="button" class="nav-link active" ><a href="{% url 'home:my-news' %}" >My News</a></button>
          </li>

        </ul>
      </nav>
    </div><!-- End Page Title -->

    <div class="tab-content">
      <section  class="section mt-5">
        <div id="newsDiv"  class="row">
          <!--news contents-->


        </div>
  
      </section>
    </div>
  </main><!-- End #main -->

{% include 'footer.html' %}

<script src="{% static 'assets/js/news.js' %}"></script>
<script src="{% static 'assets/js/search-all-news.js' %}"></script>
<script src="{% static 'assets/js/all-news-filter.js' %}"></script>


{% endblock content %}