{% extends 'base.html' %}
{% load static %}

{% block title %}News and Updates{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

<!--main content-->
<main id="main" class="main">
  
  <!--Main page-->
  <div class="search-bar mb-3">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input class="form-control form-control-sm search" type="text" name="query" placeholder="Search latest news here" title="Enter search keyword">
      <button type="submit" class="btn btn-primary btn-sm ms-3" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

    <div class="pagetitle tab-pane">
      <h1>Latest news and updates</h1>
      <nav>
        <ul class="nav nav-tabs nav-tabs-bordered">

          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#topNews">Top News</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#generalNews">General News</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#featuredNews">Featured News</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#myNews">My News</button>
          </li>

        </ul>
      </nav>
    </div><!-- End Page Title -->

    <div class="tab-content">
      <section  class="section">
        <div id="newsDiv"  class="row">
          <!--news contents-->
        </div>
  
      </section>
    </div>
  </main><!-- End #main -->

{% include 'footer.html' %}

<script src="{% static 'assets/js/news.js' %}"></script>

{% endblock content %}