{% extends 'base.html' %}
{% load static %}

{% block title %}News and Updates{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

<!--main content-->
<main id="main" class="main">
  <div class="search-bar mb-3">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input class="form-control form-control-sm search" type="text" name="query" placeholder="Search latest news here" title="Enter search keyword">
      <button type="submit" class="btn btn-primary btn-sm ms-3" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

    <div class="pagetitle">
      <h1>Latest news and updates</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section  class="section">
      <div id="newsDiv"  class="row">
        <!--news contents-->
      </div>

    </section>

  </main><!-- End #main -->

{% include 'footer.html' %}

<script src="{% static 'assets/js/news.js' %}"></script>

{% endblock content %}