{% load static %}

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item  sidebar-menu ">
        <a class="nav-link" href="{% url 'home:index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


 
	  
	   <li class="nav-item sidebar-menu">
        <a class="nav-link " id="projectMenu" href="{% url 'home:project-page' %}">
          <i class="bi bi-menu-button-wide"></i>
          <span>Projects</span>
        </a>
      </li>
	   

      <li class="nav-heading">Account</li>

      <li class="nav-item sidebar-menu">
        <a class="nav-link " href="{% url 'users:profile-page' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item sidebar-menu">
        <a class="nav-link " href="{% url 'home:faq' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item sidebar-menu">
        <a class="nav-link" href="{% url 'home:feedback' %}">
          <i class="bi bi-envelope"></i>
          <span>Feadback</span>
        </a>
      </li><!-- End Contact Page Nav -->
      
      {% if request.user.is_authenticated %}
      
      <li class="nav-item sidebar-menu">
        <a class="nav-link " href="{% url 'users:logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->

      {% else %}

      <li class="nav-item sidebar-menu">
        <a class="nav-link" href="{% url 'users:register' %}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item sidebar-menu">
        <a class="nav-link " href="{% url 'users:login' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      {% endif %}

      <li class="nav-item sidebar-menu">
        <a class="nav-link" id="newsMenu" href="{% url 'home:all-news' %}">
          <i class="bi bi-envelope"></i>
          <span>News & Updates</span>
        </a>
      </li> 

    </ul>

  </aside><!-- End Sidebar-->