{% extends 'base.html' %}
{% load static %}

{% block title %}Task Detail{% endblock title %}

{% block content %}

{% include 'header.html' %}

{% include 'sidebar.html' %}

<!--todo page-->

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Task</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{% url 'home:index' %}">Home</a></li>          
          <li class="breadcrumb-item"><a href="{% url 'home:project-page' %}">Projects</a></li>  
          <li class="breadcrumb-item"><a href="{% url 'home:todo-page' %}">Tasks</a></li>   
          <li class="breadcrumb-item active"><a class="active" href="{% url 'home:task-detail' task.id %}">Task Detail</a></li> 
          {% comment %}     
          <li class="breadcrumb-item active"><a href="{% url 'home:sub-task' task.id%}">Sub Task</a></li> {% endcomment %}
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section project-table" >
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{task.task_title}}</h5>  
                    <div class="card-body mt-5">
                        <h4>Description : </h4><br>
                        <p class="ms-5">{{task.task_description}}</p><br>
                        <b>Task Priority : </b>
                        <p class="ms-5">{{task.task_priority}}</p><br>
                        <b>Current Status : </b>
                        <p class="ms-5">{{task.task_status}}</p><br>
                        <b>Due Date : </b>
                        <p class="ms-5">{{task.task_duedate}}</p><br>
                        <b>Created At : </b>
                        <p class="ms-5">{{task.created_date}}</p><br>
                        <p class="text-center">Attachments</p>
                        <hr>
                        {% if request.user == task.user %}
                        Add attachments here
                        <button class="ms-5 btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#attachmentModal"><i class="fa-solid fa-link"></i></button>
                        {% endif %}
                        <br>
                        Attachments :
                        <div id="taskAttachments"> 
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attach your files here</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="taskAttachmentForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-12">
                <label for="projectTitle" class="form-label">Attachment Title</label>
                <input type="text" name="attachment_title" class="form-control" id="attachmentTitle">
              </div>
              <div class="col-12">
                <label for="projectTitle" class="form-label">Attachment</label>
                <input type="file" name="attachment_file" class="form-control" id="attachmentFile">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main><!-- End #main -->

  {% include 'footer.html' %}
  <script src="{% static 'assets/js/task-attachment.js' %}"></script>

{% endblock content %}

